/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------
   ------------------------  STYLES  -----------------------
   --------------------------------------------------------- */

body {
  background-color: #0081a7;
  color: #fed9b7;
  font-family: "Unbounded", cursive;
  /* overflow: hidden; */
}

nav {
  font-size: 6rem;
  text-align: center;
  margin: 3rem 0rem 5rem 0rem;
}

.select-text {
  margin-bottom: 5rem;
}

.player-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-card {
  display: flex;
  justify-content: center;
  background-color: #fed9b7;
  color: #0081a7;
  width: auto;
  margin-bottom: 4rem;
}

.select-card p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 3rem 1rem 3rem;
}

.select-card img {
  width: 15rem;
}

.input-field {
  background-color: #0081a7;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #fed9b7 3px solid;
  font-family: "Unbounded", cursive;
  color: #fed9b7;
  height: 2rem;
  width: 12rem;
  text-align: center;
}

.input-field:focus {
  background-color: #0092bf;
  outline: none;
}

.board {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

.board-container {
  flex-grow: 0;
  user-select: none;
}

.ttt-button {
  height: 3rem;
  width: 12rem;
  font-family: "Unbounded", cursive;
  background-color: #0081a7;
  border: #fdfcdc 1px solid;
  color: #fed9b7;
  cursor: pointer;
  padding: 0.3rem 2rem;
  transition: background-color 0.3s, padding 0s, color 0.3s;
  user-select: none;
}

.ttt-button:hover {
  background-color: #fed9b7;
  color: #0081a7;
}

.ttt-button:focus {
  outline: none;
}

.select-button {
  background-color: #fed9b7;
  border: #0081a7 3px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #0081a7;
}

.select-button {
  background-color: #0081a7;
  color: #fed9b7;
}

.reset-game,
.new-game {
  margin: 0rem 6.8rem;
}

.reset-or-new {
  display: none;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  height: 3rem;
  width: 12rem;
  text-align: center;
}

.player > button {
  margin-bottom: 3rem;
}

.sign {
  font-size: 3rem;
}

.row {
  display: flex;
}

.grid {
  border: 1px solid #fdfcdc;
  text-align: center;
  font-size: 10rem;
  width: 11rem;
  height: 11rem;
  transition: all 0.3s;
}

.grid:hover {
  background-color: #fed9b7;
  cursor: pointer;
  color: #0081a7;
}

.outcome {
  display: none;
  justify-content: center;
  margin: 20rem 0rem;
}

.outcome-text {
  font-size: 2rem;
}
