/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------
   ------------------------  STYLES  -----------------------
   --------------------------------------------------------- */

body {
  background-color: #0081a7;
  color: #fed9b7;
  font-family: "Unbounded", cursive;
}

nav {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 3rem;
}

.player {
  font-size: 2rem;
}

.game-area {
  display: flex;
  justify-content: space-evenly;

  flex-basis: 12rem;
}

.board-container {
  flex-grow: 0;
}

.new-game {
  height: 3rem;
  font-family: "Unbounded", cursive;
  background-color: #0081a7;
  border: #fdfcdc 1px solid;
  color: #fed9b7;
  cursor: pointer;
  padding: 0.3rem 2rem;
  transition: background-color 0.3s, padding 0s, color 0.3s;
  position: absolute;
  bottom: -3rem;
}

.new-game:hover {
  background-color: #fed9b7;
  color: #0081a7;
}

.row {
  display: flex;
}

.grid {
  border: 1px solid #fdfcdc;
  text-align: center;
  font-size: 10rem;
  width: 11rem;
  height: 11rem;
  transition: all 0.3s;
}

.grid:hover {
  background-color: #fed9b7;
  cursor: pointer;
  color: #0081a7;
}
